.sidebar {
    background-color: #4cd0dc;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .logo img {
    width: 80%;
    margin-bottom: 40px;
  }
  
  .progress-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 0.8rem; */
    position: relative;
  }
  
  .step {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .circle {
    width: 18px;
    height: 18px;
    border: 3px solid #ccc;
    border-radius: 50%;
    background-color: white;
  }
  
  .circle.active {
    border-color: #ff5c1f;
    background-color: white;
  }
  
  .label {
    font-size: 1.2rem;
    color: #777;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold', sans-serif;
  }
  
  .label.active {
    color: white;
  }
  
  .vertical-line {
    width: 2px;
    height: 40px;
    background-color: #1783a7;
    margin-left: 7px;
  }
  
  .worker-img {
    width: 78%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
  }
  
  .worker-img img {
    width: 90%;
    border-radius: 10px;
  }
  