<footer class="footer">
    <div class="footer-nav">
      <a routerLink="/">Inicio</a>
      <a routerLink="/como-funciona">Como Funciona</a>
      <a routerLink="/servicios">Servicios</a>
      <a routerLink="/contacto">Contacto</a>
    </div>
  
    <div class="footer-icons">
      <div class="icon-item">
        <div class="icon-circle">
        <img src="assets/icons/facebook.png" alt="Facebook" />
        </div>
        <span>Facebook</span>
      </div>
      <div class="icon-item">
        <div class="icon-circle">
        <img src="assets/icons/instagram.png" alt="Instagram" />
        </div>
        <span>Instagram</span>
      </div>
      <div class="icon-item">
        <img src="assets/icons/youtube.png" alt="Youtube" />
        <span>Youtube</span>
      </div>
      <div class="icon-item">
        <img src="assets/icons/email.png" alt="Correo" />
        <span>Envíanos un Correo</span>
      </div>
    </div>
  
    <div class="footer-bottom">
      <img src="assets/icons/logo-footer.png" alt="PeakMeUp Logo" />
      <div class="footer-location">
        <p>SANTIAGO, CHILE</p>
        <p>ENVIOS A TODO EL PAÍS</p>
      </div>
    </div>
  </footer>
  