<header class="header">
  <div class="left">
      <button class="login-btn">
          <img class="loginImg" src="assets/icons/login.png" alt="user" />
      </button>
  </div>
  <div class="center">
      <img src="assets/icons/logo.png" alt="PeakMeUp Logo" class="logo" />
  </div>
  <nav class="right">
      <a class="menuLink" routerLink="/">Inicio</a>
      <a class="menuLink" href="#howToWork">Cómo Funciona</a>
      <a class="menuLink" routerLink="/servicios">Servicios</a>
      <a class="menuLink" routerLink="/contacto">Contacto</a>
  </nav>
</header>