.spinner-container {
  position: fixed; /* Fijado en la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Asegura que esté por encima de todo */
}
  
  .custom-spinner {
    position: relative;
    width: 70px;
    height: 70px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner-container p {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
  }
  