<div class="client-info-container">
  <h3>Información del Cliente</h3>
  <form [formGroup]="clientForm">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre completo" required (blur)="onInputChange()">
      <div *ngIf="nombre?.invalid && (nombre?.touched || nombre?.dirty)" class="error-messages">
        <small *ngIf="nombre?.errors?.['required']">El nombre es obligatorio.</small>
      </div>
    </div>

    <!-- <div>
      <label for="direccion">Dirección:</label>
      <input id="direccion" formControlName="direccion" type="text" placeholder="Dirección completa" (blur)="onInputChange()">
      <div *ngIf="direccion?.invalid && (direccion?.touched || direccion?.dirty)" class="error-messages">
        <small *ngIf="direccion?.errors?.['required']">La dirección es obligatoria.</small>
      </div>
    </div> -->
      <!-- Input para seleccionar la región -->
      <div>
        <label for="region">Región:</label>
        <select id="region" formControlName="region">
          <option value="">Seleccione una región</option>
          <option *ngFor="let region of regiones" [value]="region.NombreRegion">{{ region.NombreRegion }}</option>
        </select>
      </div>
  
      <!-- Input para seleccionar la comuna -->
      <div>
        <label for="comuna">Comuna:</label>
        <select  (blur)="onInputChange()" id="comuna" formControlName="comuna">
          <option value="">Seleccione una comuna</option>
          <option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</option>
        </select>
      </div>

    <div>
      <label for="correo_electronico">Correo Electrónico:</label>
      <input id="correo_electronico" formControlName="correo_electronico" type="email" placeholder="ejemplo@correo.com" (blur)="onInputChange()">
      <div *ngIf="correo_electronico?.invalid && (correo_electronico?.touched || correo_electronico?.dirty)" class="error-messages">
        <small *ngIf="correo_electronico?.errors?.['email']">Correo electrónico inválido.</small>
      </div>
    </div>

    <div>
      <label for="celular">Celular:</label>
      <input id="celular" formControlName="celular" type="tel" placeholder="Número de celular" (blur)="onInputChange()">
      <div *ngIf="celular?.invalid && (celular?.touched || celular?.dirty)" class="error-messages">
        <small *ngIf="celular?.errors?.['required']">El número de celular es obligatorio.</small>
      </div>
    </div>
  </form>
</div>
