<div class="client-info-container">
    <h3>Información del Cliente</h3>
    <form [formGroup]="clientForm">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre completo" required>
      </div>
      <div>
        <label for="direccion">Dirección:</label>
        <input id="direccion" formControlName="direccion" type="text" placeholder="Dirección completa">
      </div>
      <div>
        <label for="correo">Correo Electrónico:</label>
        <input id="correo" formControlName="correo" type="email" placeholder="ejemplo@correo.com">
      </div>
      <div>
        <label for="celular">Celular:</label>
        <input id="celular" formControlName="celular" type="tel" placeholder="Número de celular">
      </div>
    </form>
  </div>
  