<div class="repuestos-form">
    <h1 class="tittle">Información del Repuesto <img src="assets/icons/engine.png" class="icon-rigth" alt="Icono"></h1>
  <form [formGroup]="spareForm" (ngSubmit)="saveSparePart()">
      <label for="categoria">Categoría</label>
      <select id="categoria" formControlName="categoria" (change)="onCategoriaChange($event)" required>
          <option value="">Selecciona categoría</option>
          <option *ngFor="let cat of categorias" [value]="cat.Categoria">{{ cat.Categoria }}</option>
      </select>
      <div *ngIf="categoria?.invalid && categoria?.touched">
          <small style="color: red;">Categoría es obligatoria.</small>
      </div>

      <label for="subcategoria">Subcategoría</label>
      <select id="subcategoria" formControlName="subcategoria" required>
          <option value="">Selecciona subcategoría</option>
          <option *ngFor="let subcat of subcategorias" [value]="subcat">{{ subcat }}</option>
      </select>
      <div *ngIf="subcategoria?.invalid && subcategoria?.touched">
          <small style="color: red;">Subcategoría es obligatoria.</small>
      </div>

      <label for="nombreRepuesto">Nombre del Repuesto</label>
      <input formControlName="nombreRepuesto" id="nombreRepuesto" type="text" required>

      <label for="foto">Foto</label>
      <div class="file-and-button">
        <input id="file" type="file" (change)="onFileChange($event)">
        <button type="submit" id="submit-button" [disabled]="spareForm.invalid">Añadir</button>
      </div>
  </form>
</div>
