/* Estilo para la sección de repuestos */
.repuestos-form {
    flex: 2;
    padding: 20px;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título */
.repuestos-form h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

/* Estilo de los labels */
.repuestos-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo de los inputs y selects */
.repuestos-form input,
.repuestos-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
}

/* Estilo cuando el input o select está en foco */
.repuestos-form input:focus,
.repuestos-form select:focus {
    border-color: #007bff;
    outline: none;
}



.repuestos-form button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

.repuestos-form button:hover {
    background-color: #0056b3;
}

.repuestos-form button[disabled] {
    background-color: #1992d4;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline
        /* Reducir la opacidad para indicar que está deshabilitado */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {

    .repuestos-form button {
        width: 100%;
    }
}

.file-and-button {
    display: flex;
    align-items: center;
    gap: 16px;
    /* espacio entre el input y el botón */
}

.file-and-button input[type="file"] {
    flex: 1;
}

.file-and-button button {
    flex-shrink: 0;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px) {
    .file-and-button {
        flex-direction: column;
        align-items: stretch;
    }

    .file-and-button button,
    .file-and-button input[type="file"] {
        width: 100%;
    }
}


.tittle {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #FF6C37;
    padding-left: 16px;
    justify-content: space-between;
}

.icon-rigth {
    width: 60px;
    height: auto;
}