<app-navbar></app-navbar>
<section class="main-banner">
    <img src="assets/images/imgLanding.png" alt="Landing" class="banner-image" />
    <button class="cta-btn">Cómo Funciona</button>
</section>

<section class="search-box">
    <div class="field">
        <label>Categoria</label>
        <input type="text" placeholder="Frenos, motor, transmisión..." />
    </div>
    <div class="field">
        <label>Marca</label>
        <input type="text" placeholder="Selecciona la marca" />
    </div>
    <div class="field">
        <label>Modelo</label>
        <input type="text" placeholder="Selecciona el modelo" />
    </div>
    <button class="search-btn">Buscamos tu repuesto</button>
</section>
<app-footer></app-footer>