/* Estilo para la sección de información del vehículo */
.vehicle-info {
    flex: 1;
    border-right: 2px solid #ddd;
    padding: 20px;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px rgba(252, 134, 134, 0.1);
}

.vehicle-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.vehicle-info input,
.vehicle-info select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
}

.vehicle-info input:focus,
.vehicle-info select:focus {
    border-color: #007bff;
    outline: none;
}

.tittle {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #FF6C37;
    padding-left: 16px;
    justify-content: space-between;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.icon-rigth {
    width: 60px;
    height: auto;
}

.boton-azul {
    background-color: #1992d4;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline
}